.home-landing-image {
    object-fit: cover;
    width: 100%;
    height: 290px;
    position: fixed;
    z-index: -1;
}

.home-landing-container {
    //background: url('/images/img-home.jpg') center center/cover no-repeat;
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.home-landing-image-text {
    text-align: center;
}

.home-landing-container > h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}