.our-environment-container {
    padding-left: 10%;
    padding-bottom: 9%;
    max-width: 80%;
}

.hr-environment{
    border: 1px solid #e6e6e6;
    margin: 2rem 0;
}

.p-our-environment {
    display: flex;
}

.our-environment-container p{
    float: left;
    padding-right: 5%;
}


.image-our-environment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    width: 30%;
    float: right;
}

@media screen and (max-width: 1250px) {
    .image-our-environment {
        padding-top: 10%;
        height: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .our-environment-container {
        padding-top: 1rem;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
    .p-our-environment {
        display: flex;
        flex-direction: column;
        img {
            width: 90%;
        }
    }

    .our-environment-container p{
        padding-bottom: 5%;
    }
    .image-our-environment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        justify-content: center;
        float: right;
    }

    .hr-environment {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .our-environment-container {
        padding: 1rem;
        max-width: 100%;
    }
    .image-our-environment {
        padding: 1rem;
        max-width: 100%;
    }
    .p-our-environment ul {
        padding-left: 3%;
    }
}