:root {
    --primary: rgb(255, 215, 3);
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.sides {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.secondary-button {
    padding: 8px 20px;
}

.large {
    padding: 12px 26px;
    font-size: 20px;
}

.large:hover,
.secondary-button:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}
