.heading-kindergarten2 {
    padding: 4rem;
    max-width: 70%;
    margin: auto;
}

.kindergarten2-image {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kindergarten2-container {
    padding: 4rem;
    max-width: 70%;
    display: flex;
    margin: auto;
}

.left-aligned-kindergarten2 {
    text-align: left;
    width: 40%;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    padding-right: 10%;
    margin-top: -100px;
}

.right-aligned-kindergarten2 {
    text-align: left;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    width: 30%;
    margin-top: -100px;
    h1 {
        text-align: center;
    }
}

.contact-us-kindergarten2 {
    padding-top: 10%;
    text-align: center;
}

@media screen and (max-width: 786px) {
    .heading-kindergarten2 {
        text-align: center;
        padding: 1rem;
        max-width: 100%;
    }
    .kindergarten2-container {
        padding: 4rem 1rem 1rem 1rem;
        align-items: center;
        max-width: 100%;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .left-aligned-kindergarten2, .right-aligned-kindergarten2 {
        width: 100%;
        display: block;
        justify-content: center;
        padding: 0 0 8%;
    }

    .right-aligned-kindergarten2 {
        margin-top: 25px;
        p {
            margin-top: 15px;
            text-align: center;
        }
    }
}