.our-team-container {
    padding-left: 10%;
    max-width: 80%;
    padding-bottom: 5%;
}

.p-about-us {
    display: flex;
}

.our-team-container p{
    float: left;
    padding-right: 5%;
}

.heading h1 {
    padding-top: 3%;
    text-align: left;
    align-items: flex-start;
}

.image-our-team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    height: 400px;
    width: 40%;
    float: right;
}

@media screen and (max-width: 1024px) {
    .our-team-container {
        align-items: center;
        justify-content: center;
        p {
            padding-bottom: 5%;
        }
    }

}

@media screen and (max-width: 768px){
    .our-team-container {
        padding: 1rem;
        max-width: 100%;
    }

    .image-our-team {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color:white;
        height: 100%;
        width: 100%;
        float: right;
    }

    .p-about-us {
        display: flex;
        flex-direction: column;
    }

}