.heading-contactus {
    padding: 4rem;
    max-width: 70%;
    margin: auto;
}

.contactus-container {
    padding: 4rem;
    max-width: 70%;
    display: flex;
    margin: auto;
}

.left-aligned-contactus {
    text-align: left;
    width: 40%;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    padding-right: 5%;
    margin-top: -100px;
}

.right-aligned-contactus {
    text-align: left;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin-top: -100px;
    h1 {
        text-align: center;
    }
}

.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contactus{
    padding-top: 15px;
    input, textarea {
        width: 90%;
        padding: 20px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        resize: vertical;
    }
    input:focus::placeholder,
    textarea:focus::placeholder{
        font-size: 12px;
        transform: translateY(-20px);
        transition: font-size 0.3s, transform 0.3s;
    }
    button {
        background-color: rgb(255, 215, 3);
        color: #000000;
        padding: 10px 15px;
        border: 1px solid var(--primary);
        border-radius: 4px;
        cursor: pointer;
        width: 20%;
        display: block;
        margin: 0 auto;
    }
    button:hover {
        transition: all 0.3s ease-out;
        background: #fff;
        color: #242424;
    }
}

.contactus-captcha {
    text-align: center;
    align-items: center;
    margin-top: 20px;
    a {
        text-decoration: none;
    }
}

.contactus-maps-container {
    max-width: 100%;
    iframe {
        height: 500px;
    }
}

@media screen and (max-width: 1490px) {
    .contactus-container {
        padding: 4rem;
        max-width: 80%;
        display: flex;
        margin: auto;
    }
    .heading-contactus {
        padding: 4rem;
        max-width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 1300px) {
    .contactus-container {
        padding: 4rem;
        max-width: 90%;
        display: flex;
        margin: auto;
    }
    .heading-contactus {
        padding: 4rem;
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 1170px) {
    .contactus-container {
        padding: 4rem;
        max-width: 100%;
        display: flex;
        margin: auto;
    }
    .heading-contactus {
        padding: 4rem;
        max-width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 860px) {
    .heading-contactus {
        padding: 1rem;
        text-align: center;
    }
    .contactus-container {
        padding: 5rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .left-aligned-contactus, .right-aligned-contactus {
        width: 100%;
        display: block;
        justify-content: center;
        text-align: center;
        padding: 0 0 8%;
    }

    .right-aligned-contactus {
        margin-top: 25px;
    }

    .contactus-captcha {
        max-width: 90%;
    }

    .contactus-maps-container {
        max-width: 100%;
        iframe {
            height: 500px;
        }
    }
}