.about-container {
    padding: 4rem;
    //position: relative;
    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //background-color: #f2f2f2;
    //flex-wrap: wrap;
    //flex-shrink: 1;
    //flex-grow: 1;
    //max-width: 100%;
}

.heading {
    //justify-content: left;
    //text-align: left;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
    //align-items: start;
    //padding-left: 20%;

}

.hr-about-us {
    border: 1px solid #e6e6e6;
    margin: 2rem 0;
    width: 100%;
}

div.text-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    align-items: start;
    justify-items: center;
}

/* first block */

div.text-block.image-left h2 {
    grid-column: 2 / span 2;
    margin-top: 100px;
}

div.text-block.image-left img {
    display: block;
    height: auto;
    max-width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
}


/* 2nd block */

div.text-block.image-right h2 {
    grid-column: 1 / span 2;
}

div.text-block.image-right img {
    display: block;
    height: auto;
    max-width: 100%;
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    justify-self: right;
}

@media screen and (max-width: 768px) {
    .about-container {
        //padding: 1rem;
        padding-top: 5%;
        justify-content: center;
    }
    .about-section-1, .about-section-2, .about-section-3 {
        display: flex;
        flex-direction: column;
        padding: 10%;
    }

    .about-section-1 h1, .about-section-2 h1, .about-section-3 h1 {
        padding-top: 5%;
    }
    //.about-button {
        //padding-top: 3%;
        //padding-left: 33%;
        //padding-right: 33%;
        //margin-right: 10px;
    //}
}