.landing-photo {
    object-fit: cover;
    width: 100%;
    height: 92%;
    position: fixed;
    z-index: -2;
}

//@media (max-width: 600px) {
//    .landing-photo {
//        content: url('../../../public/images/mobile.webp');
//    }
//}