.landing-photo {
    object-fit: cover;
    width: 100%;
    height: 87%;
    position: fixed;
    z-index: -2;
}

@media (max-width: 767px) {
    .landing-photo {
        content: url('../../../public/images/activities/1.webp');
    }
}