.activities-container {
    padding: 4rem;
    max-width: 70%;
    display: block;
    margin: auto;
}

.activities-image {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-aligned-activities {
    text-align: left;
    width: 40%;
    display: inline-block;
    padding-right: 25%;
}

.right-aligned-activities {
    text-align: left;
    width: 30%;
    display: inline-block;
    h1 {
        text-align: center;
    }
}
.register-interest-activities {
    padding-top: 10%;
    text-align: center;
}

@media screen and (max-width: 786px) {
    .activities-container {
        max-width: 80%;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .left-aligned-activities, .right-aligned-activities {
        padding-right: 6%;
        padding-left: 6%;
        width: 100%;
        display: block;
        justify-content: center;
        padding: 0 0 8%;
    }
}