.header-container {
    display: flex;
    height: 36px;
    background: #D4ED31;
    /*TODO: transform from above colour to #F0BF4C on hover*/
    transition: background 0.5s ease-in-out;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.telephone-number {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 786px){
    .header-container {
        //height: 48px;
        p, a{
            font-size: 16px;
        }
    }
}