.youtube-container {
    padding: 4rem;
    background: #fff;
    text-align: center;
}

.hr-youtube {
    border: 1px solid #e6e6e6;
    margin: 2rem 0;
}

.youtube-video {
    margin-top: 3%;
    width: 80%;
    height: 650px;
}
