.parent-partnership-container {
    padding-left: 10%;
    padding-bottom: 9%;
    max-width: 80%;
}

.p-parent-partnership {
    display: flex;
}

.parent-partnership-container p{
    float: left;
    padding-right: 5%;
}


.image-parent-partnership {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    width: 30%;
    float: right;
}

@media screen and (max-width: 1250px) {
    .image-parent-partnership {
        padding-top: 10%;
        height: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .parent-partnership-container {
        padding: 1rem;
        max-width: 100%;
    }
    
    .our-parent-partnership {
        align-items: center;
        justify-content: center;
    }
    .p-parent-partnership {
        display: flex;
        flex-direction: column;
    }

    .parent-partnership-container p{
        padding-bottom: 5%;
    }
    .image-parent-partnership {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        justify-content: center;
        width: 100%;
        float: right;
    }
}