.welcome {
    padding: 4rem;
    background: #fff;
    align-content: center;
    text-align: center;
}

.welcome-paragraph {
    padding: 3% 20% 3% 20%;
    text-align: center;
    line-height: 30px;
}

.register-button {
    margin: 6px;
}

@media screen and (max-width: 768px) {
    .welcome {
        padding: 2rem;
    }
    .welcome-paragraph {
        padding: 3% 10% 3% 10%;
    }
}